{% extends 'base_layout.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>403 Forbidden</title>
    <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><strong>403 Forbidden </strong></h1>              
  </div>

  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Sorry!</strong> You are not authorized to view this page
 
  </div>
  
{% endblock %}