{% extends 'base_layout.html' %}

{% block content %}
{% load static %}

<html class="no-js" lang="en">
<head>
  <title> ICT | Requisition Form</title>
</head>
<body>

    <!-- Main Body Div -->
  <div class="card shadow mb-4">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
      
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
{% endif %}
    <!-- header -->
    <div class="card-header py-3 ">
      <h6 class="m-0 font-weight-bold text-primary"><i class='fas fa-file-alt'></i> Requisition Form</h6>
    
      

    
    </div>

     <!-- Form Body start -->
    <div class="card-body">
      <div class="col-md-auto">
        <label > <strong>DATE & TIME LODGED:  </strong><p class="mb-2 bg-gradient-primary text-white"> {{data.created_at}} </p></label>
        <a href="{% url 'ict-home' %}" class="btn btn-primary btn-sm float-right">Go Back <i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
      </div>

        <div class="col-md-auto row-md-auto">
          <label id="name-label" for="name" ><strong>REQUESTOR: </strong></label>
          

            
           
              {{data.user}} 
           
              &nbsp;
          &nbsp;
          <label id="Department-label" for="department"><strong>DEPARTMENT: </strong></label>
          
           
              {{data.department}}
            
        
              <div class=" float-right bg-secondary text-white">
 
         
          <label for="date"><strong>DATE: </strong></label> 
          {{data.date}} &nbsp | &nbsp
   
          <label for="start_time"><strong>START TIME: </strong></label> 
          {{data.start_time}} &nbsp | &nbsp
      

          <label for="end_time"><strong>END TIME: </strong></label> 
          {{data.end_time}}
        </div>
        </div>
    
        <div class="col-md-auto float-right">
          <label for="reason_for_request" class="form-label"><strong>MANAGER ICT DECISION:</strong></label>
          
          {% if data.manager_ict_decision == "Pending" %}
                            <span class="badge badge-warning">Pending</span>
          {% elif data.manager_ict_decision == "Disapproved" %}
                            <span class="badge badge-danger">Disapproved</span>   
          {% elif data.manager_ict_decision == "Approved" %}
                            <span class="badge badge-success">Approved</span>               
          {% endif %}
          
        </div>
         
          
       

        <div class="col-md-auto float-right">
          <label for="reason_for_request" class="form-label"><strong>DSS DIR DECISION:</strong></label>
          
          {% if data.dss_director_decision == "Pending" %}
                            <span class="badge badge-warning">Pending</span>
          {% elif data.dss_director_decision == "Disapproved" %}
                            <span class="badge badge-danger">Disapproved</span>   
          {% elif data.dss_director_decision == "Approved" %}
                            <span class="badge badge-success">Approved</span>               
          {% endif %}
          
        </div>

        <div class="col-md-auto float-right">
          <label for="reason_for_request" class="form-label"><strong>RESPECTIVE DIR DECISION:</strong></label>
          
          {% if data.resp_dir_decision == "Pending" %}
                            <span class="badge badge-warning">Pending</span>
          {% elif data.resp_dir_decision == "Disapproved" %}
                            <span class="badge badge-danger">Disapproved</span>   
          {% elif data.resp_dir_decision == "Approved" %}
                            <span class="badge badge-success">Approved</span>               
          {% endif %}
          
        </div>


        <div class="col-md-auto">

          
            <label for="service_requested"><strong>SERVICE REQUESTED: </strong></label>
          

         <i> {{data.service_requested}}</i>
        </div>                
        
    

        <div class="col-md-auto">
          <label for="other_service" class="form-label"><strong>OTHER SERVICES:</strong></label>
          <i> {{data.other_service}}</i>
        </div>

        <div class="col-md-auto">
          <label for="reason_for_request" class="form-label"><strong>REASON FOR REQUEST:</strong></label>
          <i> {{data.reason_for_request}}</i>
        </div>

     
        
        <div class="col-md-auto">
          <label for="reason_for_request" class="form-label"><strong>RESPECTIVE DIR :</strong></label>
          <i> {{data.resp_dir_comments}}</i>
        </div>

        <div class="col-md-auto">
          <label for="reason_for_request" class="form-label"><strong>DSS DIR COMMENTS:</strong></label>
          <i> {{data.dss_director_comments}}</i>
        </div>
              
            
     
      <!-- Form Body end -->
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="{% static 'css/js/sweetalert.min.js' %}"></script>
<script>
$(document).ready(function(){
  $('.form-check-input').click(function()
    {
    var txt="";
    $('.form-check-input:checked').each(function()
    {
      txt+=$(this).val()+", "
    });
    $('#service_requested').val(txt);
   });
});
  
</script>
</html>
{% endblock %}